<?xml version="1.0" encoding="utf-8"?>
<DataType Key="206c0102-e27c-4aad-9a6f-d7d694a226c2" Alias="Theme CSS Override Picker" Level="1">
  <Info>
    <Name>Theme CSS Override Picker</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>DragonflyUmbracoTheming.PropertyEditorUi.CssOverridePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>