<?xml version="1.0" encoding="utf-8"?>
<DataType Key="566f6204-9b71-411e-86e8-5978b1f02012" Alias="Theme Picker" Level="1">
  <Info>
    <Name>Theme Picker</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>DragonflyUmbracoTheming.PropertyEditorUi.ThemePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>