<?xml version="1.0" encoding="utf-8"?>
<Content Key="262beb70-53a6-49b8-9e98-cfde2e85a78e" Alias="Biker Jacket" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/BikerJacket</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2026-05-23T04:53:18</CreateDate>
    <NodeName Default="Biker Jacket" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[bingo,clothing]]></Value>
    </category>
    <description>
      <Value><![CDATA[Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.]]></Value>
    </description>
    <features>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "43b57c46-fb58-4f62-a046-9deb072334d3",
      "key": "45ac1a1e-27c2-489b-906e-d864c009a083",
      "values": [
        {
          "alias": "featureName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Free shipping"
        },
        {
          "alias": "featureDetails",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Isn\u0027t that awesome - you only pay for the product"
        }
      ]
    },
    {
      "contentTypeKey": "43b57c46-fb58-4f62-a046-9deb072334d3",
      "key": "7b94e979-ecbf-4595-8e27-06895498d584",
      "values": [
        {
          "alias": "featureName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1 Day return policy"
        },
        {
          "alias": "featureDetails",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "You\u0027ll need to make up your mind fast"
        }
      ]
    },
    {
      "contentTypeKey": "43b57c46-fb58-4f62-a046-9deb072334d3",
      "key": "d34b2f9d-a2bc-43cc-b752-5c391e5531eb",
      "values": [
        {
          "alias": "featureName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100 Years warranty"
        },
        {
          "alias": "featureDetails",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "But if you\u0027re satisfied it\u0027ll last a lifetime"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "45ac1a1e-27c2-489b-906e-d864c009a083",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b94e979-ecbf-4595-8e27-06895498d584",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d34b2f9d-a2bc-43cc-b752-5c391e5531eb",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "45ac1a1e-27c2-489b-906e-d864c009a083",
        "contentUdi": "umb://element/45ac1a1e27c2489b906ed864c009a083",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7b94e979-ecbf-4595-8e27-06895498d584",
        "contentUdi": "umb://element/7b94e979ecbf45958e2706895498d584",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d34b2f9d-a2bc-43cc-b752-5c391e5531eb",
        "contentUdi": "umb://element/d34b2f9da2bc43ccb7525c391e5531eb",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "444bc19c-763a-4bf7-b43b-b3d2b2d73b78",
    "mediaKey": "55514845-b8bd-487c-b370-9724852fd6bb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </photos>
    <price>
      <Value><![CDATA[199]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Biker Jacket]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-BIKER-JACKET]]></Value>
    </sku>
  </Properties>
</Content>