<?xml version="1.0" encoding="utf-8"?>
<ThemeSettings>
  <Author>Theme Author</Author>
  <AuthorUrl>https://authorwebsite.com</AuthorUrl>
  <SourceUrl>https://getbootstrap.com/docs/4.0/examples/starter-template/</SourceUrl>
  <CssFramework>Bootstrap4</CssFramework>
  <GridRenderer>Bootstrap4</GridRenderer>
  <Description>Information about this Theme...</Description>
</ThemeSettings>
