@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Blog>
@{
	var thisTheme = ThemeHelper.GetSiteThemeName(Model);
	var masterView = ThemeHelper.GetThemeViewPath(thisTheme, "_Master");

	Layout = masterView;
}

<partial name="Partials/SectionHeader"/>

<section class="section">

    <div class="container">
        @await Component.InvokeAsync("LatestBlogPosts",
            new { numberOfPosts = Model.HowManyPostsShouldBeShown, startNodeKey = Model.Key })
    </div>

</section>
