@using Umbraco.Cms.Web.Common.PublishedModels
@inherits UmbracoViewPage<IPublishedContent>
@{
    var root = Model.Root();
    var home = root as Home;
    var footerAddress = home?.FooterAddress;
}
<footer class="bb-footer">
    <div class="container">
        @footerAddress
    </div>
</footer>
