@using Umbraco.Cms.Web.Common.PublishedModels
@inherits UmbracoViewPage<IPublishedContent>
@{
    var root = Model.Root();
    var home = root as Home;
    var siteName = home?.Sitename ?? root?.Name ?? "";
    var siteLogo = home?.SiteLogo;
}
<header class="header">

    <div class="logo">
        @if (siteLogo != null && !string.IsNullOrEmpty(siteLogo.Url()))
        {
            <a href="/" class="nav-link--home">
                <img class="logo-image" src="@siteLogo.Url()" alt="@siteName" />
            </a>
        }
        else
        {
            <a class="nav-link nav-link--home nav-link--home__text logo-text" href="/">@siteName</a>
        }
    </div>

    <nav class="nav-bar top-nav">
        <partial name="Partials/Navigation/TopNavigation" />
    </nav>

    <div class="mobile-nav-handler">
        <div class="hamburger lines" id="toggle-nav">
            <span></span>
        </div>
    </div>

</header>
